<div  class="main-body-content" routerLinkActive="active">
    <div class="rout-change" id="top">
        <router-outlet></router-outlet>
    </div>
    <img src="assets\images\main-body-1.png" class="main-body-content">
    <div class="body-txt-1">
        <h1>What makes us</h1>
        <h1>better ?</h1>
    </div>
    <img src="assets\images\main-body-2.png" class="main-body-content">
    <img src="assets\images\main-body-3.png" class="main-body-content">
    <div class="body-txt-2">
        <h1>Mann hai</h1>
        <h1>toh money hai</h1>
    </div>
    <img src="assets\images\main-body-4.png" class="main-body-content">
    <img src="assets\images\main-body-5.png" class="main-body-content" routerLink="emi" (click)="OnClick($event)">
</div>