<div class="nav-bar" routerLinkActive="active">
    <img src="assets\images\bank-logo.png" alt="logo" class="logo" routerLink="">
    <div class="menu">
        <button  class="menu-item" routerLink="loans">Loans</button>
        <button  class="menu-item" routerLink="emi">EMI Calculator</button>
        <button  class="menu-item" routerLink="credit-track">Credit Tracker</button>
        <button  class="menu-item" routerLink="contact">Contact Us</button>
    </div>
    <div class="login-button">
        <button class="login-button" (click)="openLoginDialog()">Login</button>
    </div>
</div>