<!-- <div class="login-form">
    <form [formGroup]="regForm" (ngSubmit)="OnSubmit()">
        <button mat-button>Submit</button>
    </form>
</div>
<h1>{{title | json}}</h1> -->

<div class="login-container" routerLinkActive="active">
    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <input class="input" type="email" formControlName="email" placeholder="Email" />
      <input class="input" type="password" formControlName="password" placeholder="Password" />
      <button class="submit" type="submit">Login</button>
    </form>
    <div class="links">
      <button class="links-1" routerLink="/forgot-password">Forgot Password?</button>
      <button class="links-2" routerLink="/register">Register Now</button>
    </div>
  </div>