
.left-title{
  font-size: 15px;
  font-weight: 500;
  color: green;
}
.result{
  font-size: 16px;
  font-weight: 600;
}
h5,h6{
  color: green;
}
.active{
  background-color: transparent;
}

h1{
  font-size: 35px;
  color: green;
}
@media only screen and (max-width: 768px) {
  h1{
      font-size: 15px;
      color: green;
  }
 
}
@media only screen and (min-width: 992px) {
  h1{
      font-size: 35px;
      margin-bottom: -20px;   
  }
}
ngx-slider {
  max-width: 1000px;
  background-color: green;
}
.col-md-12 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group {
  margin-left: 400px;
}
.col-md-10 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col-md-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col-lg-3 {
 margin-left: 400px; 
}
.spacer {
  max-width: 1000px; 
  
}
.divide {
  margin-left: 400px;
}
.container {
  background-image: url("https://moneyview.in/images/header_background_image.webp");
  background-repeat: no-repeat;
}
.input-group-append button {
  background-color: transparent;
  color: green;
  border: 1px solid green;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  margin: 10px;
}